In [1]:
import glob
import argparse
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

evaluation_methods = ['ari', 'nmi', 'purity']
ari_best_result = dict()
nmi_best_result = dict()
purity_best_result = dict()

In [2]:
total = 0
for dirs in glob.glob('dec/*'):
    for em in evaluation_methods:
        with open(dirs + '/' + em + '/total_best_result.txt') as f:
            lines = f.read().splitlines()
            for i, line in enumerate(lines):
                if i == 0: continue
                line = line.split('=')[-1].split(':')
                k, v = line[0].strip(), line[-1].strip()
                if em == 'ari':
                    if k in ari_best_result:
                        ari_best_result[k] += float(v)
                    else:
                        ari_best_result[k] = float(v)
                elif em == 'nmi':
                    if k in nmi_best_result:
                        nmi_best_result[k] += float(v)
                    else:
                        nmi_best_result[k] = float(v)
                else:
                    if k in purity_best_result:
                        purity_best_result[k] += float(v.split('%')[0])
                    else:
                        purity_best_result[k] = float(v.split('%')[0])
    total += 1

In [3]:
for k, v in ari_best_result.items():
    ari_best_result[k] = round(v / total, 3)
for k, v in nmi_best_result.items():
    nmi_best_result[k] = round(v / total, 3)
for k, v in purity_best_result.items():
    purity_best_result[k] = round(v / (total * 100), 3)

print(ari_best_result)
print(nmi_best_result)
print(purity_best_result)

{'jideca_mdecawe_se_34': 0.381, 'jideca_mdecseq2seq_se_34': 0.381, 'jideca_idec_se_34': 0.373, 'jideca_dec_se_34': 0.353, 'jideca_midecawe_se_34': 0.328, 'jideca_idec_re_34': 0.3, 'jideca_midecawe_re_34': 0.285, 'jideca_mdecawe_re_34': 0.262, 'jideca_mdecseq2seq_re_34': 0.279, 'jideca_midecseq2seq_re_34': 0.258, 'jideca_dec_re_34': 0.23, 'jideca_midecseq2seq_se_34': 0.242, 'jideca_dec_dnn_34': 0.059, 'jideca_idec_dnn_34': 0.026}
{'jideca_mdecseq2seq_se_34': 0.63, 'jideca_mdecawe_se_34': 0.627, 'jideca_dec_se_34': 0.61, 'jideca_idec_se_34': 0.609, 'jideca_midecawe_se_34': 0.591, 'jideca_midecseq2seq_se_34': 0.567, 'jideca_mdecawe_re_34': 0.517, 'jideca_midecawe_re_34': 0.528, 'jideca_mdecseq2seq_re_34': 0.517, 'jideca_idec_re_34': 0.515, 'jideca_midecseq2seq_re_34': 0.513, 'jideca_dec_re_34': 0.483, 'jideca_dec_dnn_34': 0.302, 'jideca_idec_dnn_34': 0.179}
{'jideca_mdecseq2seq_se_34': 0.429, 'jideca_idec_se_34': 0.359, 'jideca_midecawe_se_34': 0.356, 'jideca_dec_se_34': 0.35, 'jideca_mdecawe_se_34': 0.393, 'jideca_midecawe_re_34': 0.343, 'jideca_midecseq2seq_se_34': 0.313, 'jideca_mdecseq2seq_re_34': 0.289, 'jideca_mdecawe_re_34': 0.273, 'jideca_idec_re_34': 0.309, 'jideca_dec_re_34': 0.284, 'jideca_midecseq2seq_re_34': 0.285, 'jideca_dec_dnn_34': 0.205, 'jideca_idec_dnn_34': 0.096}

In [4]:
df_ari = pd.DataFrame(list(ari_best_result.items()), columns=['parameters', 'ari'])
df_nmi = pd.DataFrame(list(nmi_best_result.items()), columns=['parameters', 'nmi'])
df_purity = pd.DataFrame(list(purity_best_result.items()), columns=['parameters', 'purity'])
df_nmi

                   parameters    nmi
0    jideca_mdecseq2seq_se_34  0.630
1        jideca_mdecawe_se_34  0.627
2            jideca_dec_se_34  0.610
3           jideca_idec_se_34  0.609
4       jideca_midecawe_se_34  0.591
5   jideca_midecseq2seq_se_34  0.567
6        jideca_mdecawe_re_34  0.517
7       jideca_midecawe_re_34  0.528
8    jideca_mdecseq2seq_re_34  0.517
9           jideca_idec_re_34  0.515
10  jideca_midecseq2seq_re_34  0.513
11           jideca_dec_re_34  0.483
12          jideca_dec_dnn_34  0.302
13         jideca_idec_dnn_34  0.179

In [5]:
df_ari

                   parameters    ari
0        jideca_mdecawe_se_34  0.381
1    jideca_mdecseq2seq_se_34  0.381
2           jideca_idec_se_34  0.373
3            jideca_dec_se_34  0.353
4       jideca_midecawe_se_34  0.328
5           jideca_idec_re_34  0.300
6       jideca_midecawe_re_34  0.285
7        jideca_mdecawe_re_34  0.262
8    jideca_mdecseq2seq_re_34  0.279
9   jideca_midecseq2seq_re_34  0.258
10           jideca_dec_re_34  0.230
11  jideca_midecseq2seq_se_34  0.242
12          jideca_dec_dnn_34  0.059
13         jideca_idec_dnn_34  0.026

In [6]:
df_purity

                   parameters  purity
0    jideca_mdecseq2seq_se_34   0.429
1           jideca_idec_se_34   0.359
2       jideca_midecawe_se_34   0.356
3            jideca_dec_se_34   0.350
4        jideca_mdecawe_se_34   0.393
5       jideca_midecawe_re_34   0.343
6   jideca_midecseq2seq_se_34   0.313
7    jideca_mdecseq2seq_re_34   0.289
8        jideca_mdecawe_re_34   0.273
9           jideca_idec_re_34   0.309
10           jideca_dec_re_34   0.284
11  jideca_midecseq2seq_re_34   0.285
12          jideca_dec_dnn_34   0.205
13         jideca_idec_dnn_34   0.096